
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal-body">
    <h4><b>Trải nghiệm sáng tạo</b></h4>
    <ul>
        <li>
            <b>Ông Hồ Tấn Minh</b>
            <div class="contact-info">
                <p>Chuyên viên phòng Giáo dục Trung Học - Sở GD-ĐT TP.HCM </p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <a href="mailto:htminh@hcm.edu.vn"> htminh@hcm.edu.vn</a>.
                </p>
                <p>
                    <span class="glyphicon glyphicon-earphone"></span>
                    <a href="tel:0909881283"> 0909881283</a>
                </p>
            </div>
        </li>
        <li>
            <b>Ông Trần Đình Thế</b><div class="contact-info">
                <p>Giám đốc Trung tâm - Trung Tâm Giáo dục Vườn thú, Thảo cầm viên Sài Gòn </p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <a href="mailto:htminh@hcm.edu.vn"> trungtamgiaoducvuonthutcvsg@gmail.com</a>.
                </p>
                <p><span class="glyphicon glyphicon-earphone"></span><a href="tel:0907427329"> 0907427329</a></p>
            </div>
        </li>
        <li>
            <b>Ông Nguyễn Quang Phúc</b><div class="contact-info">
                <p>Ban điều hành chương trình - Trung Tâm Giáo dục Vườn thú, Thảo cầm viên Sài Gòn </p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <a href="mailto:htminh@hcm.edu.vn"> info@dulichquoctedaongoc.com</a>.
                </p><p>
                    <span class="glyphicon glyphicon-earphone"></span><a href="tel:0937886722"> 0937886722</a>
                </p>
            </div>
        </li>
    </ul><h4><b>Hỗ trợ kĩ thuật</b></h4><ul>
        <li>
            <b>Trương Hữu Thành.</b>
            <div class="contact-info">
                <p>
                    <span class="glyphicon glyphicon-envelope"></span>
                    <a href="mailto:truonghuuthanh95@gmail.com"> truonghuuthanh95@gmail.com</a>.
                </p>
                <p><span class="glyphicon glyphicon-earphone"></span><a href="tel:0988670449"> 0988670449</a></p>
            </div>
        </li>
    </ul>
</div>

