
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center text-primary checkIDBox">QUẢN LÝ CHUNG</h2>

<div class="row">
    <div class="col-sm-6">
        <a class="btn btn-primary btn-block btn-lg" href="/quanly/trainghiemsangtao" role="button">DANH SÁCH TRẢI NGHIỆM SÁNG TẠO</a>
    </div>
    <div class="col-sm-6">
        <a class="btn btn-primary btn-block btn-lg" href="/quanly/noidungkhac" role="button">DANH SÁCH TRẢI NGHIỆM SÁNG TẠO</a>
    </div>
</div>

